$cellSize: 120px;

.field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .upper-row {
    display: flex;
  }

  .middle-row {
    display: flex;
    flex: 1;

    .left-column,
    .right-column {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .center-space {
      flex: 9;
    }
  }

  .bottom-row {
    display: flex;

    // .cell:last-child,
    // .cell:first-child {
    //   min-width: $cellSize;
    // }
  }
}
